<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/src/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
         <img src="/src/img/photo.png" alt="Sandeep Vuppala">
    </div>
    
    {{>footer}}
</body>

</html>