<!DOCTYPE html>

<html>

<head>
    

</head>

<body>

    <br><br>
    <form>
        <input style="padding:12px"class="id" type="text" placeholder="location">
    <button style="background-color: rgb(231, 151, 94);">Submit</button>
    </form>
    
    <header>{{>header}}</header>
    <h1>Weather</h1>
    <footer>{{footer}}</footer>
    <p id="message-1" style="color:rgb(46, 54, 179)"></p>
    <p id="message-2"style="color:red"></p>
    <script src="/src/index.js"></script>
</body>

</html>