<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <link rel="icon" href="/src/img/weather.png">
    <link rel="stylesheet" href="/src/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}

        <p>Use this site to get your weather!</p>

        <form>
            <input placeholder="Location">
            <button>Search</button>
        </form>

        <p id="message-1"></p>
        <p id="message-2"></p>
         <p id="message-3" style="color:rgb(206, 85, 85)"></p>
    </div>

    {{>footer}}

    <script src="/src/index.js"></script>
</body>

</html>